Assets/Firebase/Plugins/x86_64/FirebaseCppApp-11_4_0.so filter=lfs diff=lfs merge=lfs -text
Assets/Firebase/Plugins/x86_64/FirebaseCppApp-11_4_0.bundle filter=lfs diff=lfs merge=lfs -text
Assets/GeneratedLocalRepo/Firebase/m2repository/com/google/firebase/firebase-app-unity/11.4.0/firebase-app-unity-11.4.0.aar filter=lfs diff=lfs merge=lfs -text
Assets/GeneratedLocalRepo/Firebase/m2repository/com/google/firebase/firebase-app-unity/11.4.0/firebase-app-unity-11.4.0.aar.meta filter=lfs diff=lfs merge=lfs -text
